.pagination .page-link {
    color: green;
    background-color: white;
  }
  
.pagination .page-link:hover {
    color: #fff;
    background-color: seagreen;
    border-color: green;
  }

.page-item.active .page-link {
    background-color: seagreen;
    border-color: green;
    color: white;
  }

.pagination .page-link:focus {
  box-shadow: none;
  }